html{
    font-family: 'overpass', sans-serif;
    background: black;
    margin: 0;
    color: white;
}

.flexbox-grid{
    display: flex;
    gap: 40px; 
    margin: 20px;
    color: #072603;
    background-color:#fff9f5;
  }
  
  .column-1{

    padding: 200px 350px;
    flex: 2;
    background-color:black;
    animation:slideInDown;
    animation-duration: 3s;
  }
    h1{
      color:white;
      font-size:600%;
    }
    
  .flexbox-grid{
    animation: fadeInLeft;
    animation-duration: 3s;
    
.arrow-button {
    display: inline-block;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    text-decoration: none;
}

.arrow-button::after {
        content: ' ➔';
    }
    
}