html{
    font-family: 'overpass', sans-serif;
    background: black;
    margin: 0;
    color: white;
}

.flexbox-grid{
    display: flex;
    gap: 40px; 
    margin: 20px;
    color: #ffffff;
    background-color:#000000;
  }
  
  .column-1{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 350px 350px;
    flex: 2;
    background-color:black;
    animation:fadeIn;
    animation-duration: 3s;
  }
    h1{
      color:white;
      font-size:600%;
    }
    
  .flexbox-grid{
    animation: fadeInLeft;
    animation-duration: 3s;
    
.arrow-button {
    display: inline-block;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    text-decoration: none;
}

.arrow-button::after {
        content: ' ➔';
    }
    
}


.cursor{
  position: relative;
  width: 24em;
  margin: 0 auto;
  border-right: 2px solid rgba(255,255,255,.75);
  font-size: 30px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  transform: translateY(-50%);
  font-size:40px;    
}
/* Animation */
.typewriter-animation {
animation: 
  typewriter 5s steps(50) 1s 1 normal both, 
  blinkingCursor 500ms steps(50) infinite normal;
}
@keyframes typewriter {
from { width: 0; }
to { width: 100%; }
}
@keyframes blinkingCursor{
from { border-right-color: rgba(255,255,255,.75); }
to { border-right-color: transparent; }
}
